service: sls-fb-msg-bot

provider:
  name: aws
  runtime: nodejs4.3

  # You can change your stage and aws region
  stage: dev
  region: ap-northeast-1

functions:
  webhook:
    handler: handler.webhook
    events:
      - http:
          path: webhook
          method: GET
      - http:
          path: webhook
          method: POST
          response:
            template: '{ "body": "$input.json(''$'')" }'

custom:
  stageVariables:

    # Remeber to setting your variables
    pageAccessToken: 'FB_Page_Access_Token'
    validationToken: 'Your_Validation_Token'

plugins:
  - serverless-plugin-stage-variables


